{% extends 'base.html' %}
{% block css %}
<style>
    .intro{
        float:right;


    }
</style>
{% endblock css %}
{% block content %}
<div class = "intro">
    <h1>this is Employee Management System</h1>
    <p>This project aims to simplify the task of maintaining records of the employees of company</p>
    <p>Provides full functuinal reports to management of company</p>
    <p>The Employee MAanagement system has been developed to override the problems prevailing in the practicing manual system</p>
</div>


{% endblock content %}




